<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Battle Page</title>
</head>
<body>

<div class="sidebar">
    <button href="/battle">Battle</button>
    <button href="/planning">Placement</button>
</div>

<div class="content" id="battles-list">
<table>
    <thead>
        <tr>
            <th>Time of Battle</th>
            <th>First Team</th>
            <th>Second Team</th>
            <th>Winner</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <!-- Example Row -->
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>

        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>

        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>

        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>

        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>

        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <tr>
            <td>12:00 PM, 1st Nov 2023</td>
            <td>Team A</td>
            <td>Team B</td>
            <td>Team A</td>
            <td><button onclick="window.location.href='/battles/123/0'">View Battle</button></td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>
</div>
</body>
</html>
