{% extends 'layout.html' %}

{% block content %}


<div class="content">
    <h1>Правила битвы</h1>

    <div class="sections">
<div class="section">
    <h2>Битва</h2>
    <p>Битва разделена на раунды, и во время раунда каждое существо сделает один ход. Все существа ходят по очереди. Первыми ходят те, чья инициатива выше, а при равенстве – в случайном порядке.</p>
    <p>В свой ход существо атакует или перемещается. Если рядом есть противник – существо будет атаковать его. Если нет – оно будет перемещаться в сторону ближайшего врага.</p>
    <p>Битва заканчивается, когда у одной из команд не останется существ. Если у вас останется хоть одно существо – вы победили!</p>
</div>

<div class="section">
    <h2>Существа</h2>
    <p>У каждого существа есть три параметра – Здоровье, Урон и Инициатива.</p>
    <p>Инициатива определяет, в каком порядке будут ходить существа.</p>
    <p>Урон показывает, сколько здоровья отнимает каждая атака существа.</p>
    <p>Если у существа Здоровье опустится до 0, оно убирается с доски.</p>
</div>

<div class="section">
    <h2>Соседние клетки</h2>
    <p>Будем называть клетки соседними, если шахматный король может попасть из одной в другую за 1 ход.</p>
</div>

<div class="section">
    <h2>Стандартные действия</h2>
    <p>Стандартное перемещение существа – в соседнюю незанятую клетку.</p>
    <p>Стандартная атака – по случайному противнику на одной из соседних клеток.</p>
    <p>У некоторых существ особенные правила перемещения и атаки – загляните в <a href="/battles/rules/monsters">Бестиарий</a>.</p>
</div>
</div>
    </div>
{% endblock %}

{% block right-bar %}
<div class="sidebar">
    <button onclick="window.location.href='/battles/rules/lore'">Lore</button>
    <button onclick="window.location.href='/battles/rules/combat'">Combat</button>
    <button onclick="window.location.href='/battles/rules/monsters'">Monsters</button>
</div>
{% endblock %}}



