{% extends 'layout.html' %}

{% block content %}


<div class="content">

    <div class="title"> <h1>Фантастические твари и в ЛКШ они обитают</h1></div>


    <div class="creatures">
        <div class="section">
            <p>В ЛКШ случилось новогоднее чудо – теперь здесь обитает множество разных магических существ. Решайте
                задачи, чтобы поймать их всех! Готовьте ваш отряд к бою, ведь вы будете сражаться в Новогоднем Турнире
                за звание лучшей команды года!</p>
        </div>
        <div class="section">
            <h2>Правила турнира</h2>

            <p>Вы начинаете турнир без тварей (ну а что вы думали, тварей приручить не так просто). За решение каждой 
                задачи вы приручаете новое существо.</p>

            <p>Расставляйте ваших существ на клетках поля боя (но не более 16ти тварей).
               Игры проходят на клетчатой доске 8х8, вы можете
                расположить ваш отряд в первых 3-ёх столбцах.</p>

            <p>Каждые 5 минут участники будут разделены на пары и начнётся битва! Тот, чьи существа в конце останутся
                на поле станет победителем, если существ не осталось ни у кого, то объявляется ничья. Чем дольше идёт 
                турнир, тем больше очков будет приносить победа в каждой битве. А если точнее, количество баллов за 
                победу в раунде равно корню из количества минут, прошедших c момента начала турнира. В случае ничьи, 
                баллы не получает никто!</p></div>
    </div>
</div>
</div>
{% endblock %}

{% block right-bar %}
<div class="sidebar">
    <button onclick="window.location.href='/battles/rules/lore'">Правила игры</button>
    <button onclick="window.location.href='/battles/rules/combat'">Правила битвы</button>
    <button onclick="window.location.href='/battles/rules/monsters'">Описание тварей</button>
</div>
{% endblock %}}

