{% extends 'layout.html' %}

{% block content %}


<div class="content">

    <div class="title"> <h1>Фантастические твари и в ЛКШ обитают</h1></div>


    <div class="creatures">
        <div class="section">
            <p>В ЛКШ случилось новогоднее чудо – теперь здесь обитает множество разных магических существ. Решайте
                задачи, чтобы поймать их всех! Готовьте ваш отряд к бою, ведь вы будете сражаться в Новогоднем Турнире
                за звание лучшей команды года!</p>
        </div>
        <div class="section">
            <h2>Правила турнира</h2>

            <p>Вы начинаете турнир с одним базовым существом Питон-3. За решение каждой задачи вы получите новое
                существо.</p>

            <p>Расставляйте ваших существ на клетках поля боя. Игры проходят на клетчатой доске 8х8, вы можете
                расположить ваш отряд в первых 3-ёх столбцах.</p>

            <p>Каждые ?? минут участники будут разделены на пары и начнётся битва! Тот, чьи существа в конце останутся
                на поле станет победителем. Чем дольше идёт турнир, тем больше очков будет приносить победа в каждой
                битве.</p></div>
    </div>
</div>
</div>
{% endblock %}

{% block right-bar %}
<div class="sidebar">
    <button onclick="window.location.href='/battles/rules/lore'">Lore</button>
    <button onclick="window.location.href='/battles/rules/combat'">Combat</button>
    <button onclick="window.location.href='/battles/rules/monsters'">Monsters</button>
</div>
{% endblock %}}



