{% extends 'layout.html' %}

{% block content %}


<div class="content">
    <div class="title"><h1>Бестиарий</h1></div>

    <div class="creatures">
        <div class="creature">
            <div class="description">Питон-3</div>
            <img src="/static/images/fighters/original/python.png" class="creature-portrait">
            <div class="stats">
                <div>Описание: Стандартная модель боевого питона, применяется повсеместно. Намного более удобна в
                    использовании, чем модель Питон-2. Питон-3 характерен своей невысокой скоростью и универсальностью,
                    что позволяет использовать его как основную ударную силу в отряде.
                </div>
                <div>Здоровье: 7</div>
                <div>Урон: 4</div>
                <div>Инициатива: 10</div>
                <div>Атака: стандартная</div>
                <div>Перемещение: стандартное</div>
            </div>
        </div>

        <div class="creature">
            <div class="description">Брёвнометатель</div>
            <img src="/static/images/fighters/original/brevnokid.png" class="creature-portrait">
            <div class="stats">
                <div>Описание: Не очень мудрое бинарное дерево, которое предпочитает грубую силу обдуманным решениям.
                    Собирает брёвна, полученные участниками на контестах, и метает их с огромной силой, поражая врагов
                    на расстоянии. Защищён минимальным остовом, которого едва хватит, чтобы выдержать удар.
                </div>
                <div>Здоровье: 5</div>
                <div>Урон: 4</div>
                <div>Инициатива: 7</div>
                <div>Атака: атакует случайного противника на расстоянии двух ходов шахматного короля</div>
                <div>Перемещение: стандартное</div>
            </div>
        </div>

        <div class="creature">
            <div class="description">Броне-Bug</div>
            <img src="/static/images/fighters/original/bronebug.png" class="creature-portrait">
            <div class="stats">
                <div>Описание: Если что-то не работает, выпускайте жука! Он наносит внушительный урон, а его здоровье
                    почти переполняется. Тесты показали, что Броне-Bug превышает лимиты времени при перемещении по полю
                    и неправильно отвечает на атаки, но при такой броне это не проблема.
                </div>
                <div>Здоровье: 15</div>
                <div>Урон: 5</div>
                <div>Инициатива: 8</div>
                <div>Атака: атакует случайного противника на клетке, соседней по стороне (но не по диагонали)</div>
                <div>Перемещение: перемещается на клетку, соседнюю по стороне</div>
            </div>
        </div>

        <div class="creature">
            <div class="description">AVX-Горилла</div>
            <img src="/static/images/fighters/original/gorilla.png" class="creature-portrait">
            <div class="stats">
                <div>Описание: Брутальный самец гориллы, в бою которому нет равных. Использует технологию AVX, чтобы
                    ускорять свои атаки, хоть и работает это с переменным успехом. Прагматично подходит к сражениям, и
                    атакует самых слабых противников.
                </div>
                <div>Здоровье: 9</div>
                <div>Урон: 3</div>
                <div>Инициатива: 9</div>
                <div>Атака: атакует противника на соседней ячейке с наименьшим здоровьем. Каждый раз, когда добивает
                    противника, атакует ещё раз.
                </div>
                <div>Перемещение: стандартное</div>
            </div>
        </div>

        <div class="creature">
            <div class="description">UB-1jца</div>
            <img src="/static/images/fighters/original/ubijca.png" class="creature-portrait">
            <div class="stats">
                <div>Описание: Боевой робот, следующий ход которого невозможно предсказать, идеально подходит, чтобы
                    вносить хаос в ряды противника. Свободно перемещается в ячейки, к которым у других существ попросту
                    нет доступа. Слабое место этого UB-1jцы – его ноги, поэтому применять его на поле боя стоит крайне
                    осторожно.
                </div>
                <div>Здоровье: 13</div>
                <div>Урон: 5</div>
                <div>Инициатива: 12</div>
                <div>Атака: атакует противника на соседней ячейке с наименьшей инициативой.</div>
            </div>
            <div>Перемещение: прыгает по вертикали или горизонтали как можно дальше так, чтобы оказаться рядом с
                противником. Если не может – перемещается стандартно.
            </div>
        </div>


    <div class="creature">
        <div class="description">Мозгошмыг</div>
        <img src="/static/images/fighters/original/mosk.png" class="creature-portrait">
        <div class="stats">
            <div>Описание: Самое умное существо во всём ЛКШ, способен закрыть контест 10 параллели за 2 часа. Использует
                свои безграничные познания геометрии и стереометрии, чтобы руководить отрядами на поле боя. Проводит 98%
                своего времени, ботая алгоритмы и решая задачи, поэтому его собственная сила оставляет желать лучшего.
            </div>
            <div>Здоровье: 8</div>
            <div>Урон: 3</div>
            <div>Инициатива: 6</div>
            <div>Атака: заставляет атаковать союзника на соседней ячейке. Если не может – атакует стандартно.</div>
            <div>Перемещение: стандартно, но старается держаться рядом с союзниками.</div>
        </div>
    </div>

    <div class="creature">
        <div class="description">Турист</div>
        <img src="/static/images/fighters/original/tourist.png" class="creature-portrait">
        <div class="stats">
            <div>Описание: Таинственный странник, о приключениях которого слагают легенды. Познал каждый алгоритм и
                решил каждую задачу, но все равно продолжает свой путь. Известен всем как покоритель гор, ведь он достиг
                высоты 4000, подъём до которой все раньше считали невозможным.
            </div>
            <div>Здоровье: 14</div>
            <div>Урон: 4</div>
            <div>Инициатива: 10</div>
            <div>Атака: дважды проводит стандартную атаку</div>
            <div>Перемещение: стандартно</div>
        </div>
    </div>
        </div>
</div>
{% endblock %}

{% block right-bar %}
<div class="sidebar">
    <button onclick="window.location.href='/battles/rules/lore'">Правила игры</button>
    <button onclick="window.location.href='/battles/rules/combat'">Правила битвы</button>
    <button onclick="window.location.href='/battles/rules/monsters'">Описание тварей</button>
</div>
{% endblock %}}



