{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE html>
<div class="content" id="battles-list">
    <table>
        <thead>
        <tr>
            <th>Время проведения битвы</th>
            <th>Комадна "Красных"</th>
            <th>Команда "Синих"</th>
            <th>Победитель</th>
            <th>Просмотр матча</th>
        </tr>
        </thead>
        <tbody>
        {% for battle in battles %}
        <tr>
            <td>{{ battle.time }}</td>
            <td>{{ battle.red_username }}</td>
            <td>{{ battle.blue_username }}</td>
            <td>{{ battle.winner_username }}</td>
            <td>
                <button onclick="window.location.href='/battles/{{battle.battle_id}}/0'">Посмотреть матч</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

