{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <div class="battlefield-container">
        <div class="battlefield">
            {% for i in indexes8 %}
            {%     for j in indexes8 %}
            <div class="cell" id="cell-{{ i }}-{{ j }}" data-x="{{ i }}" data-y="{{ j }}">
            {%         if j < 5 %}
                <img src="/static/images/cross.png" class="cross">
            {%         else %}
            {%             for fighter in placed_fighters %}
            {%                 if fighter.x == i and fighter.y == j %}
                <div class="unit unit-{{ fighter.fighter_kind }}" draggable="true" id="{{ fighter.shortname }}">
                    <img src="/static/images/healths/{{ fighter.hp }}.png" class="unit-healths">
                </div>
            {%                 endif %}
            {%             endfor %}
            {%         endif %}
            </div>
            {%     endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}}

{% block right-bar %}
<div class="sidebar">
    <h3>Неразмещённые твари</h3>
    <div class="unplaced-units" id="unplaced-units">
        {% for fighter in unplaced_fighters %}
        <div class="unit unit-{{ fighter.fighter_kind }}" draggable="true" id="{{ fighter.shortname }}">
            <img src="/static/images/healths/{{ fighter.hp }}.png" class="unit-healths">
        </div>
        {% endfor %}
    </div>
</div>

<script src="/static/scripts/fighter_placement_post.js"></script>
{% endblock %}
